:root{
    --background: #232323;
    --border: #383838;
    --color: #fff;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
.container{
    width: 1000px;
    height: 100%;
}
header{
    width: 100%;
    height: 10%;
    color: var(--color);
    font-size: 18px;
    position: relative;
    border-bottom: 3px solid var(--border);
}
header h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.clock{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 50px;
}
.theme,
.header-account{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.theme{
    right: 65px;
    width: 30px;
    height: 30px;
    fill: var(--color);
}
.header-account{
    width: 25px;
    height: 25px;
    right: 20px;
}

.main{
    display: flex;
    width: 100%;
    height: 80%;
}

.left-wrap{
    width: 45%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-wrap{
    width: 55%;
    height: 100%;
    /* background-color: antiquewhite; */
}
.my-account{
    width: 90%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: var(--color);
}
.profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--border);
    margin-right: 10px;
}
.aboutme-box{
    width: 250px;
    height: 80px;
}
.profile-name{
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 50px;
    padding: 0 8px;
    font-weight: bold;
    
}
.profile-aboutme{
    width: 100%;
    height: 20px;
    padding: 0 8px 5px;
    font-size: 12px;
}
.quote-box,
.weather-box{
    width: 90%;
    padding: 20px;
    color: var(--color);
    border: 2px solid var(--border);
    border-radius: 10px;
    margin-top: 20px;
}
.weather-box{
    position: relative;
}
.weatherEmoji{
    position: absolute;
    width: 70px;
    height: 70px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.weatherEmoji svg{
    fill: var(--color);
    stroke-width: 1px;
}
.quote-box span{
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: 2px solid var(--border);
    padding-bottom: 20px;
    position: relative;
}
.quote-box span svg{
    width: 30px;
    height: 30px;
    fill: var(--color);
    position: absolute;
    right: 10px;
    top: -5px;
}
.quote-box .quote{
    width: 100%;
    padding: 20px 0;
    font-size: 14px;
    font-style: italic;
}
.quote-box .author{
    width: 100%;
    font-size: 12px;
    padding: 0 20px;
    text-align: end;    
}
.weather-box span{
    display: block;
    font-size: 14px;
}
#location{
    font-size: 18px;
    text-transform: capitalize;
}

/* login */
.login-container{
    width: 100%;
    height: 80%;
}
.login-box{
    width: 350px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--color);
    padding: 0 20px;
}
.login-box .forms{
    position: relative;
}
.forms, .form{
    width: 100%;
}
.login-box .title{
    width: 100%;
    height: 60px;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.login-box form.login,
.login-box form.sign_up{
    width: 100%;
    padding: 20px;
    position: absolute;
}
.input-field,
#submitBtn,
#signup_btn{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 14px;
}
.input-field input,
.input-field.button{
    width: 100%; height: 100%;
    font-size: 14px;
}
.input-field input{
    padding: 0 20px;
}
.checkbox-text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
}
#submitBtn{
    font-size: 20px;
}
.login_signup{
    text-align: center;
    font-size: 14px;
}
.login_signup a{
    color: blue;   
}
.login-box.active .sign_up,
.login-box .login{
    display: none;
}
.login-box .sign_up,
.login-box.active .login{
    display: block;
}
#re_pw:focus{
    outline: none;
}
.demo{
    background-color: rgb(239, 148, 148);
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
}


/* todo-list */
.todo-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#todo-form{ 
    width: 90%;
    padding: 20px;
}
#todo-form input{
    width: 90%;
    height: 40px;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
}
#todo-form input:focus{
    outline: none;
}
#todo-list{
    color: var(--color);
    width: 90%; 
    max-height: 285px;
    overflow-y : scroll;
}
#todo-list::-webkit-scrollbar {
    display: none; 
}
#todo-list li{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#todo-list li input:first-child{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
#todo-list li input:nth-child(2){
    width: 300px;
    background-color: transparent;
    color: var(--color);
    border: none;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
}
#todo-list li input:nth-child(2):focus{
    outline: none;
}
.edit, .del{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.edit svg{
    fill: var(--color);
}
.del svg{
    stroke: var(--color);
    fill: none;
}
.del svg{
    width: 22px; height: 22px;
}
.progression-wrap{
    width: 80%;
    margin-top: 40px;
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
}
.percentage{
    color: var(--color);
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.bar-container{
    width: 90%;
    height: 20px;
    background-color: var(--border);
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border);

}
.bar-container .bar-completed{
    height: 100%;
    width: 50%;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}

.date-container{
    width: 90%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0 0 0;
    font-size: 18px;
    color: var(--color);
}